<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/memorize.png" type="image/x-icon">
    <title><%= city %>, <%= country %></title>
</head>
<body>
    <div>
        <div class="nav1">
            <p>ONUR</p>
            <svg width="100" height="100" viewBox="0 0 1000 1000" fill="white" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2_2)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 30L308.466 338.466L310.419 341.759C324.972 366.305 355.161 380.829 395.757 388.132C430.829 394.441 467.274 394.3 495.741 394.174C497.493 394.174 499.283 394.145 501.11 394.152C503.106 394.145 506.958 394.182 506.958 394.182C507.48 394.185 508.005 394.188 508.532 394.191C537.19 394.356 573.148 394.563 607.79 388.506C648.491 381.39 678.576 367.024 693.081 342.56L695.034 339.267L1003.5 30.8012L986.384 126.31C972.836 201.907 945.85 321.695 908.706 436.332C890.132 493.66 868.845 550.239 845.186 599.589C821.736 648.503 795.013 692.337 764.832 722.518L764.299 723.051L492.979 968.759L492.953 968.786L492.951 968.784L492.142 969.517L480.692 956.873L238.823 721.872L238.668 721.717C208.487 691.536 181.764 647.702 158.314 598.787C134.655 549.437 113.368 492.859 94.7936 435.531C57.6504 320.893 30.6642 201.106 17.1163 125.509L0 30ZM494.416 885.311L722.286 678.951C745.135 655.904 768.135 619.458 790.28 573.266C812.382 527.166 832.716 473.322 850.782 417.564C873.34 347.942 892.092 276.175 906.201 214.21L743.321 377.091C714.431 422.496 663.056 440.656 618.276 448.486C577.751 455.571 535.768 455.281 507.469 455.086C505.266 455.071 503.146 455.056 501.117 455.046C499.672 455.052 498.183 455.06 496.65 455.069C468.559 455.223 426.099 455.456 384.977 448.059C340.291 440.021 289.019 421.626 260.179 376.289L97.2988 213.409C111.408 275.374 130.16 347.141 152.718 416.763C170.784 472.521 191.118 526.365 213.22 572.465C235.482 618.901 258.607 655.487 281.575 678.513L494.416 885.311Z" fill="white"/>
                <path d="M380.573 572.307C341.065 508.412 258.757 481.92 222.541 476.661C247.563 499.997 315.064 539.965 350.622 584.139C386.179 628.313 402.961 724.156 411.192 757.681C417.448 723.827 420.081 636.202 380.573 572.307Z" fill="white"/>
                <path d="M599.693 572.309C639.201 508.412 721.509 481.92 757.725 476.661C732.703 499.998 665.201 539.966 629.644 584.142C594.087 628.317 577.305 724.163 569.074 757.689C562.818 723.834 560.184 636.206 599.693 572.309Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_2_2">
                <rect width="1000" height="1000" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            <p>SEDEF</p>
        </div> 
        <div class="nav2">
            <div class="svg">
                <svg width="75" height="75" viewBox="0 0 1000 1000" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2_2)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 30L308.466 338.466L310.419 341.759C324.972 366.305 355.161 380.829 395.757 388.132C430.829 394.441 467.274 394.3 495.741 394.174C497.493 394.174 499.283 394.145 501.11 394.152C503.106 394.145 506.958 394.182 506.958 394.182C507.48 394.185 508.005 394.188 508.532 394.191C537.19 394.356 573.148 394.563 607.79 388.506C648.491 381.39 678.576 367.024 693.081 342.56L695.034 339.267L1003.5 30.8012L986.384 126.31C972.836 201.907 945.85 321.695 908.706 436.332C890.132 493.66 868.845 550.239 845.186 599.589C821.736 648.503 795.013 692.337 764.832 722.518L764.299 723.051L492.979 968.759L492.953 968.786L492.951 968.784L492.142 969.517L480.692 956.873L238.823 721.872L238.668 721.717C208.487 691.536 181.764 647.702 158.314 598.787C134.655 549.437 113.368 492.859 94.7936 435.531C57.6504 320.893 30.6642 201.106 17.1163 125.509L0 30ZM494.416 885.311L722.286 678.951C745.135 655.904 768.135 619.458 790.28 573.266C812.382 527.166 832.716 473.322 850.782 417.564C873.34 347.942 892.092 276.175 906.201 214.21L743.321 377.091C714.431 422.496 663.056 440.656 618.276 448.486C577.751 455.571 535.768 455.281 507.469 455.086C505.266 455.071 503.146 455.056 501.117 455.046C499.672 455.052 498.183 455.06 496.65 455.069C468.559 455.223 426.099 455.456 384.977 448.059C340.291 440.021 289.019 421.626 260.179 376.289L97.2988 213.409C111.408 275.374 130.16 347.141 152.718 416.763C170.784 472.521 191.118 526.365 213.22 572.465C235.482 618.901 258.607 655.487 281.575 678.513L494.416 885.311Z" fill="white"/>
                    <path d="M380.573 572.307C341.065 508.412 258.757 481.92 222.541 476.661C247.563 499.997 315.064 539.965 350.622 584.139C386.179 628.313 402.961 724.156 411.192 757.681C417.448 723.827 420.081 636.202 380.573 572.307Z" fill="white"/>
                    <path d="M599.693 572.309C639.201 508.412 721.509 481.92 757.725 476.661C732.703 499.998 665.201 539.966 629.644 584.142C594.087 628.317 577.305 724.163 569.074 757.689C562.818 723.834 560.184 636.206 599.693 572.309Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_2_2">
                    <rect width="1000" height="1000" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
            </div>
                <p>ONUR<br>SEDEF</p>
        </div>   
        <div class="container">
            <div class="wrapper">
                <div class="main-card">
                    <div class="img">
                        <img src="<%= icon %>" alt="">
                    </div>
                    <p><%= currTime%></p>
                    <div class="location">
                        <p class="h2"><%= city %></p><p class="h4"><%= country %></p>
                    </div>
                    <p style="text-transform: capitalize;"><%= desc %></p>
                    <p>Sunrise: <%= sunrise %></p>
                    <p>Sunset: <%= sunset %></p>
                </div>
                <div class="card1">
                    <h3>Temperature</h3>
                    <p><%= temp %>° C</p>
                </div>
                <div class="card2">
                    <h3>Humidity</h3>
                    <p><%= humidity %>%</p>
                </div>
                <div class="card3">
                    <h3>Wind Speed</h3>
                    <p><%= windSpeedKPH %> km/h</p>
                </div>
                <div class="card4">
                    <h3>Wind Direction</h3>
                    <p><%= windDeg %>° , <%= windDir %></p>
                </div>
            </div>
        </div>
        <div class="lastUpdate">
            <p>Made with ❤ & EJS, CSS, ExpressJS  <br> <%= copyright %></p>
        </div>
    </div>
</body>
</html>